git+ssh://git@github.com/PalmDrive/ainterest-pipeline.git#egg=ailab&subdirectory=ailab
cycler==0.10.0
Django==1.11.4
functools32==3.2.3.post2
matplotlib==2.0.2
numpy==1.13.1
progressbar==2.3
py-look-for-timeouts==0.4
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
subprocess32==3.2.7
